.cart {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 30px;
  .cart__top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      text-align: center;
      margin-bottom: 0;
    }

    .cart__clear {
      display: flex;
      align-items: center;
      width: 180px;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      transition: 0.5s;
      &:hover {
        background-color: rgba(230, 230, 230, 0.5);
      }
    }
  }
}

.cart__bottom {
  .cart__bottom-details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .cart__bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .pay-btn {
      padding: 10px 20px;
      background-color: #e2b00b;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: black;
      }
    }

    .button--add {
      padding: 10px 20px;
      border-radius: 10px;
      text-decoration: none;
      color: rgb(214, 214, 214);
      border: 1px solid rgb(228, 228, 228);
      transition: 0.5s;
      display: flex;
      align-items: center;
      span {
        margin-left: 5px;
      }
      svg {
        margin-top: 2px;
      }
      &:hover {
        background-color: #e2b00b;
        color: black;
        svg {
          fill: black;
        }
      }
    }
  }
}

.added-words {
  color: red;
}

.cart-node-enter {
  opacity: 0;
  transform: translateX(-1100px);
}
.cart-node-enter-active {
  opacity: 1;
  /* transition: opacity 1500ms ease-in; */
  transform: translateX(50px);
}
.cart-node-exit {
  opacity: 1;
  transform: translateX(50px);
}
.cart-node-exit-active {
  opacity: 0;
  /* transition: opacity 1500ms ease-in; */
  transform: translateX(-1100px);
}

// media

@media screen and (max-width: 400px) {
  .cart {
    margin: 0;
    .cart__top {
      margin-bottom: 10px;
      .cart__clear {
        width: max-content;
        font-size: 15px;
        svg {
          margin-right: 5px;
        }
      }
    }

    .cart__bottom {
      .cart__bottom-buttons {
        .button {
          width: 50%;
          padding: 10px;
        }
        .go-back-btn {
          border-radius: 8px 0 0 8px;
        }
        .pay-btn {
          border-radius: 0 8px 8px 0;
          border: 1px solid #e4e4e4;
        }
      }
    }
  }
}
