.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;
  .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 270px;
    .cart__item-info {
      display: block;
    }
  }
  .second {
    display: flex;
    justify-content: space-around;
    width: 500px;
    .cart__item-count {
      width: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      strong {
        font-size: 20px;
        color: red;
        cursor: pointer;
      }
    }
    .cart__item-remove {
      cursor: pointer;
    }
  }
  .cart__item-img {
    img {
      max-width: 100px;
    }
  }
}
.content__items__cart {
  hr {
    border: none;
    margin: 20px 0 30px 0;
    height: 3px;
    background-color: rgba(243, 243, 243, 0.4);
    transition: 0.4s;
  }
}

// media

@media (max-width: 400px) {
  .cart__item {
    display: block;
    .first {
      display: block;
    }
    .second {
      width: 200px;
      margin: 0 auto;
    }
  }
  .cart__bottom {
    .cart__bottom-buttons {
      .button {
        padding: 10px;
      }
    }
  }
}
