.cart {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 30px;
  .cart__top {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      text-align: center;
      margin-bottom: 0;
    }

    .cart__clear {
      display: flex;
      align-items: center;
      width: 160px;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px 20px;
      transition: 0.5s;
    }
    .cart__clear:hover {
      background-color: rgba(230, 230, 230, 0.5);
    }
  }
}

.cart__bottom {
  .cart__bottom-details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  .cart__bottom-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .pay-btn {
      padding: 10px 20px;
      background-color: #e2b00b;
      border-radius: 10px;
      color: white;
      cursor: pointer;
      transition: 0.5s;
    }
    .pay-btn:hover {
      color: black;
    }
    .button--add {
      padding: 10px 20px;
      border-radius: 10px;
      text-decoration: none;
      color: rgb(214, 214, 214);
      border: 1px solid rgb(228, 228, 228);
      transition: 0.5s;
      span {
        margin-left: 5px;
      }
    }
    .button--add:hover {
      background-color: #e2b00b;
      color: black;
    }
  }
}

.added-words {
  color: red;
}
