.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1s;

  .first {
    display: flex;
    // justify-content:
    align-items: center;
    width: 320px;
    .cart__item-info {
      display: block;
      text-align: start;
    }
  }
  .second {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    .cart__item-count {
      width: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      strong {
        font-size: 20px;
        color: red;
        cursor: pointer;
      }
    }
    .cart__item-remove {
      cursor: pointer;
      svg {
        transition: 0.3s;
      }
      &:hover {
        svg {
          fill: red;
        }
      }
    }
  }
  .cart__item-img {
    margin-right: 40px;
    img {
      max-width: 100px;
    }
  }
}
.content__items__cart {
  hr {
    border: none;
    margin: 20px 0 30px 0;
    height: 3px;
    background-color: rgba(202, 202, 202, 0.5);
    transition: 0.4s;
  }
}

// media

@media (max-width: 400px) {
  .cart__item {
    display: block;
    .first {
      display: block;
      .cart__item-info {
        text-align: center;
      }
      .cart__item-img {
        margin: 0;
      }
    }
    .second {
      width: 200px;
      margin: 0 auto;
    }
  }
  .cart__bottom {
    .cart__bottom-buttons {
      .button {
        padding: 10px;
      }
    }
  }
}
