.content__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .categories {
    width: 900px;
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        color: black;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 30px;
        background-color: rgb(236, 202, 51);
        border-radius: 10px 30px;
      }
      li:hover {
        background-color: rgb(194, 169, 31);
      }
    }
    .active {
      color: white;
      background-color: rgb(0, 0, 0);
    }
  }
}

.sort {
  position: relative;
  svg {
    cursor: pointer;
    transform: rotateX(180deg) translateY(3px);
    margin-right: 5px;
  }
  .svg {
    transform: rotateX(360deg) translateY(-3px);
  }
}

.sort__label {
  margin-bottom: 10px;
  span {
    text-decoration: underline;
    color: rgb(185, 142, 0);
    cursor: pointer;
  }
  letter-spacing: 1px;
}

.sort__popup {
  display: none;
}

.show {
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 0px 5px 1px rgb(212, 205, 188);
  position: absolute;
  top: 40px;
  ul {
    padding: 0;
  }
  li {
    color: black;
    text-align: start;
    list-style: none;
    padding: 6px 72px 5px 10px;
    cursor: pointer;
  }
  li:hover {
    box-shadow: -3px -3px 5px 1px rgb(212, 205, 188);
  }
  .active {
    color: rgb(170, 139, 0);
  }
}

@media (max-width: 1300px) {
  .content__top {
    text-align: start;
    display: block;
    .categories {
      max-width: 300px;
      ul {
        display: inline-block;
        li {
          padding: 5px 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
