.content__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  .categories {
    width: 900px;
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      li {
        color: black;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 30px;
        background-color: rgb(236, 202, 51);
        border-radius: 10px 30px;
        transition: 0.3s;
        &:hover {
          background-color: rgb(194, 169, 31);
        }
      }
    }
    .active {
      color: white;
      background-color: rgb(0, 0, 0);
    }
  }
}

.sort {
  position: relative;
  svg {
    margin-top: 5px;
    cursor: pointer;
    transform: rotateX(180deg) translateY(1px);
    margin-right: 5px;
  }
  .svg {
    transform: rotateX(360deg) translateY(-1px);
  }
}

.sort__label {
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    text-decoration: underline;
    color: rgb(185, 142, 0);
    margin-left: 5px;
  }
  letter-spacing: 1px;
}

.sort__popup {
  display: none;
}

.show {
  background-color: #ffffff;
  display: block;
  box-shadow: 0px 0px 5px 1px rgb(212, 205, 188);
  position: absolute;
  top: 40px;
  z-index: 100;
  ul {
    padding: 0;
  }
  li {
    color: black;
    text-align: start;
    list-style: none;
    padding: 6px 72px 5px 10px;
    cursor: pointer;
    &:hover {
      box-shadow: -3px -3px 5px 1px rgb(212, 205, 188);
    }
  }

  .active {
    color: rgb(170, 139, 0);
  }
}

.fade {
  animation-name: fade;
  animation-duration: 500ms;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1300px) {
  .content__top {
    text-align: start;
    flex-wrap: wrap;
    .categories {
      display: none;
    }
    .show__category {
      display: block;
    }
    .sort {
      width: 260px;
      .sort__label {
        display: flex;
        align-items: center;
        font-size: 12px;
      }
      svg {
        margin-top: 3px;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .content__top {
    margin-bottom: 10px;
    .categories {
      width: 100%;
      ul {
        display: inline-block;
        li {
          border-radius: 7px;
          padding: 5px 10px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
