* {
  margin: 0;
}

.header {
  padding: 3.4%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__logo {
      cursor: pointer;
      text-align: start;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // max-width: 425px;
      img {
        margin-right: 20px;
      }
      h1 {
        margin-top: 10px;
        font-size: 50px;
        color: rgb(0, 0, 0);
      }
      p {
        color: rgba(105, 105, 105, 0.5);
      }
    }
    a {
      text-decoration: none;
    }
  }
}
.header__cart {
  background-color: rgb(226, 176, 11);
  padding: 15px 25px;
  border-radius: 20px;
  cursor: pointer;
  .button {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      margin-right: 15px;
      margin-left: 5px;
    }
  }
  transition: 0.5s;
}
.header__cart:hover {
  background-color: black;
}

// media

@media (max-width: 800px) {
  .wrapper {
    .header {
      padding: 20px;
      padding-bottom: 0;
      .container {
        padding: 0;
        flex-wrap: wrap;
        position: relative;
        .header__cart {
          position: absolute;
          top: 0;
          right: 0;
          max-width: 150px;
          border-radius: 12px;
          padding: 10px 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .header .container .header__logo {
    display: block;
    div {
      h1 {
        font-size: 35px;
      }
    }
  }
}
